{% extends 'main.html' %}
{% block content %}

<div class="d-flex justify-content-center" style="margin-top: 100px;">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Add Task</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="task" class="form-label">Task</label>
                    <input type="text" class="form-control" name="task" value="{{ todo.task }}">
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" value="{{ todo.description }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}